html {
	--color: whitesmoke;
	color: var(--color);
}

a {
	color: inherit;
}

html, body {
	background-color: #222;
	font-family: system-ui, -apple-system, sans-serif;
	margin: 0;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100dvh;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
}

footer {
	margin: 1rem auto;
}

#matrix {
	-webkit-user-select: none;
	aspect-ratio: 1/4;
	cursor: pointer;
	display: grid;
	flex-grow: 1;
	gap: 1px;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(32, 1fr);
	height: 70%;
	margin: 0.5rem auto;
	place-items: stretch;
	touch-action: none;
	user-select: none;
}

#matrix div {
	background-color: black;
}
